vital_agent_resource_app:
  tools:
    - tool_id: "tool_1"
      api_key: "abcd1234"
    - tool_id: "tool_2"
      api_key: "efgh5678"
    - tool_id: "tool_3"
      api_key: "ijkl91011"
    - tool_id: "loop_lookup_tool"
      api_key: "your_loop_lookup_api_key_here"
    - tool_id: "loop_message_tool"
      authorization_key: "your_loop_message_authorization_key_here"
      secret_key: "your_loop_message_secret_key_here"
    - tool_id: "send_email_tool"
      api_key: "your_mailgun_api_key_here"
      domain: "your_mailgun_domain_here"
      from_email: "noreply@your_mailgun_domain_here"
  runpod:
    runpod_api_key: ""
